<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1000,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1200,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1400,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1600,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1800,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{200,300},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{400,300},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{600,300},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{800,300},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1000,300},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1200,300},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1400,300},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1600,300},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1800,300},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{200,600},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{400,600},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{600,600},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{800,600},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1000,600},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1200,600},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1400,600},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1600,600},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1800,600},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{0,900},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{200,900},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{400,900},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{600,900},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{800,900},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1000,900},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1200,900},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1400,900},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1600,900},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1800,900},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{0,1200},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{200,1200},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{400,1200},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{600,1200},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{800,1200},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1000,1200},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1200,1200},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1400,1200},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1600,1200},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1800,1200},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{0,1500},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{200,1500},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{400,1500},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{600,1500},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{800,1500},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{1000,1500},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{2000,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2375b00606aadc294468fad59b2108ac:01d79c3af079be31b51656c00e265d52:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
